extends ../layouts/common

block content
    div(style="margin: 50px 200px")
        p
            a.btn.btn-primary(data-toggle='collapse', href='#multiCollapseExample1', role='button', aria-expanded='false', aria-controls='multiCollapseExample1') Stadium 5 vs 5

        .row
            .col
                #multiCollapseExample1.collapse.multi-collapse
                    .card.card-body
                        .media
                            img.align-self-center.mr-3(src='https://loremflickr.com/128/128', alt='...')
                            .media-body
                                h5.mt-0 Center-aligned media
                                p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                p.mb-0
                                    | Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        p(style="margin-top: 15px")
            a.btn.btn-primary(data-toggle='collapse', href='#multiCollapseExample2', role='button', aria-expanded='false', aria-controls='multiCollapseExample1') Stadium 7 vs 7

        .row
            .col
                #multiCollapseExample2.collapse.multi-collapse
                    .card.card-body
                        .media
                            img.align-self-center.mr-3(src='https://loremflickr.com/128/128', alt='...')
                            .media-body
                                h5.mt-0 Center-aligned media
                                p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                p.mb-0
                                    | Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        p(style="margin-top: 15px")
            a.btn.btn-primary(data-toggle='collapse', href='#multiCollapseExample3', role='button', aria-expanded='false', aria-controls='multiCollapseExample1') Stadium 11 vs 11

        .row
            .col
                #multiCollapseExample3.collapse.multi-collapse
                    .card.card-body
                        .media
                            img.align-self-center.mr-3(src='https://loremflickr.com/128/128', alt='...')
                            .media-body
                                h5.mt-0 Center-aligned media
                                p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                p.mb-0
                                    | Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
