extends ../layouts/common

block content
    div(style="margin: 50px 200px")
        each stadium in stadiums
            .card(style="display: flex;margin-bottom: 20px")
                h5.card-header= "Stadium " + stadium.rangePeople
                .card-body(style="display: flex; align-items: center")
                    img(src='https://opt.toiimg.com/recuperator/img/toi/m-74219501/74219501.jpg&width=500&resizemode=4', alt='Card image cap' style="width: 108px; height: 108px; margin-right: 15px")
                    div
                        h5.card-title= "Name : " + stadium.name
                        p.card-text= "Address : " + stadium.address
                        //- Button trigger modal
                        a.btn.btn-primary(href="/stadium/order" style="margin-right: 15px") Order
                        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
                            | Check map
                        //- Modal
                        #exampleModal.modal.fade( tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' style="margin-top: 100px; width: 100%")
                            .modal-dialog(role='document' style="max-width: 800px !important; height: 600px !important")
                                .modal-content(style="width: 800px; height: 600px")
                                    .modal-header
                                        h5#exampleModalLabel.modal-title= "Address Map"
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                          span(aria-hidden='true') &times;
                                    .modal-body
                                        .mapouter
                                            .gmap_canvas
                                                iframe#gmap_canvas(src='https://maps.google.com/maps?q=hue%20viet%20nam&t=&z=13&ie=UTF8&iwloc=&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')
                                    .modal-footer
                                        button.btn.btn-primary(type='button', data-dismiss='modal') Close

        
        
            
               

