extends ../layouts/common

block content
    form(action="/auth/signin/" method="post" style="margin: 50px 200px")
        .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp' name="email")
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password' name="password")
        button(style="margin-right: 10px" type='submit').btn.btn-primary Sign In
        a.btn.btn-secondary(href="/auth/signup" style="margin-right: 10px") Sign Up
        a.btn.btn-secondary(href="/auth/forgetpassword") Forget Password

